<mat-toolbar>
    <div class="logo">
        <mat-icon>business</mat-icon>
        <span class="logo-text">HRPilot</span>
    </div>
    <span class="flex-1"></span>
    @if (currentUser$ | async; as currentUser) {
    <div class="user-section">
        <button mat-icon-button (click)="toggleDarkMode()" [matTooltip]="darkMode ? 'Light Mode' : 'Dark Mode'">
            <mat-icon>{{ darkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="langMenu" matTooltip="Language">
            <mat-icon>language</mat-icon>
        </button>
        <mat-menu #langMenu="matMenu">
            <button mat-menu-item (click)="switchLang('en')" [class.active-lang]="currentLang === 'en'">
                English
            </button>
            <button mat-menu-item (click)="switchLang('de')" [class.active-lang]="currentLang === 'de'">
                Deutsch
            </button>
        </mat-menu>
        <button mat-icon-button [routerLink]="'/notifications'" [matTooltip]="'header.notificationsTooltip' | translate">
            <mat-icon [matBadge]="unreadCount" [matBadgeHidden]="unreadCount === 0" matBadgeColor="warn" matBadgeSize="small">notifications</mat-icon>
        </button>
        <a class="user-profile-link" routerLink="/profile">
            @if (avatarUrl) {
                <img [src]="avatarUrl" alt="Profile" class="user-avatar">
            } @else {
                <mat-icon class="user-icon">account_circle</mat-icon>
            }
            <span class="user-label">{{ currentUser.firstName || currentUser.email }}</span>
        </a>
        <div class="divider"></div>
        <button mat-icon-button (click)="logout()" [matTooltip]="'header.logoutTooltip' | translate">
            <mat-icon>logout</mat-icon>
        </button>
    </div>
    }
</mat-toolbar>
